.sex_male {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 300px;
  top: 120px;

  background: rgba(148, 148, 148, 0.3);
  border-radius: 4px;
}
.sex_famale {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 385px;
  top: 120px;

  background: #949494;
  opacity: 0.3;
  border-radius: 4px;
}
p#creator {
  position: absolute;
  width: 261px;
  height: 100px;
  left: 70px;
  top: 116px;
  
  font-family: Panton Black;
  font-size: 40px;
  line-height: 50px;
  
  color: #FFFFFF;
  
  transform: rotate(-0.22deg);
  
}
html body{
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

#main_menu{
    position: absolute;
    height: 100%;
}

.menu_button{
    width: 100%;
    text-align: center;
    background: gray;
    border: 1px solid red;
    height: 80px;
}

.menu_button_next{
    margin-top: 100px;
    width: 100%;
    text-align: center;
    background: gray;
    border: 1px solid red;
    height: 80px;
}

#enter_Name{
    visibility: hidden;
    position: absolute;
    background: black;
    width: 100%;
}

#enter_Sex{
    visibility: hidden;
    position: absolute;
    background: black;
    width: 100%;
}

#enter_Age{
    visibility: hidden;
    position: absolute;
    background: black;
    width: 100%;
}

#enter_Face{
    visibility: hidden;
    position: absolute;
    background: black;
    width: 100%;
}

#enter_trueFace{
    visibility: hidden;
    position: absolute;
    background: black;
    width: 100%;
}

#enter_Clothes{
    visibility: hidden;
    position: absolute;
    background: black;
    width: 100%;
}


#enter_Visual{
    visibility: hidden;
    position: absolute;
    background: black;
    width: 100%;
}

.rows{
    width: 100%;
    background: black;
    border: none;
    border-bottom: 1px solid red;
}

input[type=range] {
  height: 35px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: black;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #74A9D8;
  border-radius: 17px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 27px;
  width: 27px;
  border-radius: 22px;
  background: #FF0000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #74A9D8;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #74A9D8;
  border-radius: 17px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 27px;
  width: 27px;
  border-radius: 22px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #74A9D8;
  border: 0px solid #010101;
  border-radius: 34px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #74A9D8;
  border: 0px solid #010101;
  border-radius: 34px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 27px;
  width: 27px;
  border-radius: 22px;
  background: #FF0000;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #74A9D8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #74A9D8;
}
@font-face {
  font-family: "Panton Black"; 
  src: url("../fonts/Panton/Panton-Black.woff") format("woff"); 
  font-style: normal; 
  font-weight: normal; 
  } 