<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="auth.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="js/vue-typed-js.css" />
    <link rel="stylesheet" href="../ui/echo-ui.css" />
    <script src="js/vue-typed-js.browser.js"></script>

</head>

<body>
    <div id="main">
        <div class="container" id="main" v-bind:style="{ filter: blurType }">
            <div class="actor">
                <template v-if="show == 1">
                    <transition name="fade">
                        <div id="message-box" v-if="show">
                            <h3 id="name">Джон</h3>
                            <vue-typed-js
                                :strings="['Привет! Я покажу тебе мир возможностей, но сперва подскажи свой email']">
                                <h2 class="typing" id="typed-text"></h2>
                            </vue-typed-js>

                            <div id="holder"></div>
                        </div>
                    </transition>
                    <transition name="slide-fade">
                        <img src="images/character.png" alt="" id="character" v-if="show">
                    </transition>
                </template>
                <template v-if="show == 2">
                    <div id="message-box" v-if="show">
                        <h3 id="name">Джон</h3>
                        <vue-typed-js
                            :strings="['Отлично! Осталось подтвердить Email. Я выслал тебе проверочный 4-х значный код, введи его.']">
                            <h2 class="typing" id="typed-text"></h2>
                        </vue-typed-js>

                        <div id="holder"></div>
                    </div>
                    <img src="images/character.png" alt="" id="character" v-if="show">
                </template>
            </div>

            <hr v-if="show == 1 || show == 2 || show == 3">

            <div class="mail-enter">
                <template v-if="show == 1">
                    <input type="email" name="" class="echo-big-input" v-model="email" id="mail" autofocus placeholder="Твой email" />
                    <button type="button" class="echo-button" type='submit' @click='this.app.register()'>Дальше
                        <svg id="next_arrow" class="next_arrow" viewBox="0 0 35 35">
                            <path d="M17.5001 23.3333L23.3334 17.5L17.5001 11.6666" stroke="white" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" fill="none" />
                            <path d="M11.6667 17.5H23.3334" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" fill="none" />
                        </svg>
                    </button>
                </template>
                <template v-if="show == 2">
                    <input v-on:keyup="$event.target.nextElementSibling.focus()" type="number" v-model="code_num1" name=""
                        class="echo-big-input number-input" id="code-1" placeholder="0" />
                    <input v-on:keyup="$event.target.nextElementSibling.focus()" type="number" v-model="code_num2" name=""
                        class="echo-big-input number-input" id="code-2" placeholder="0" />
                    <input v-on:keyup="$event.target.nextElementSibling.focus()" type="number" v-model="code_num3" name=""
                        class="echo-big-input number-input" id="code-3" placeholder="0" />
                    <input type="number" name="" class="echo-big-input number-input" id="code-4" v-model="code_num4" placeholder="0" />
                    <button type="button" class="echo-button" @click='this.app.checkMailCode()'>Дальше
                        <svg id="next_arrow" class="next_arrow" viewBox="0 0 35 35">
                            <path d="M17.5001 23.3333L23.3334 17.5L17.5001 11.6666" stroke="white" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" fill="none" />
                            <path d="M11.6667 17.5H23.3334" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" fill="none" />
                        </svg>

                    </button>
                </template>
            </div>
            <h3 class="echo-input-error" v-if="emailError">{{errorMessage}}</h3>

            <hr style="margin-top: 170px;" v-if="show == 1 || show == 2 || show == 3">
            <div class="footer" v-if="show == 1 || show == 2 || show == 3">
                <img id="social-logo" src="images/social.png">
                <p id="social-text">Мы позаботились о том, чтобы ты не вводил каждый раз данные для входа, поэтому для
                    авторизации используем твой аккаунт в Social Club. В целях безопасности нам нужен только твой email
                    ;)
                </p>
            </div>
        </div>

        <div id="dialog" v-if="show == 3">
            <img src="images/Ellipse.png" alt="" id="ellipse">
            <div id="messages">
                <div class="message-dialog" style="width: 319px; ">
                    <div class="left-arrow"></div>
                    <p class="dialog-ellipse-message">Секунду, занесу тебя в базу данных.</p>
                </div>
                <div class="message-dialog" style="width: 134px;">
                    <div class="left-arrow"></div>
                    <p class="dialog-ellipse-message">Готово :)</p>
                </div>
                <div class="message-dialog" style="width: 379px;">
                    <div class="left-arrow"></div>
                    <p class="dialog-ellipse-message">Теперь поработаем над твоей внешностью.</p>
                </div>
            </div>
        </div>
        <div class="suspect" v-if="show == 4 || show == 5">
            <h1 id="suspect-title" v-if="show == 4">Подозрительная<br>попытка входа</h1>
            <h1 id="suspect-title" v-if="show == 5">Вход с нового<br>устройства</h1>
            <p id="suspect-text" v-if="show == 4">Зафиксирована подозрительная попытка входа. <br>На твой email отправлен проверочный 4-х
                значный код, <br>введи его ниже.
            </p>
            <p id="suspect-text" v-if="show == 5">Кажется, ты пытаешься зайти на сервер с другого  <br>компьютера. Мы отправили на твой email 4-х<br> значный проверочный код, введи его ниже
            </p>
            <div id="suspect-inputes" style="display: inline-flex; margin-top: 40px;">


                <input type="email" name="" class="echo-big-input" style="width: 209px !important; margin-left: 50px;"
                    id="suspect-code" autofocus placeholder="Введи код" />

                <button type="button" class="echo-button" type='submit' @click='' style="margin-left: 35px;">Далее
                    <svg id="next_arrow" class="next_arrow" viewBox="0 0 35 35">
                        <path d="M17.5001 23.3333L23.3334 17.5L17.5001 11.6666" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" fill="none" />
                        <path d="M11.6667 17.5H23.3334" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" fill="none" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

</body>

<script src="js/auth.js"></script>
</html>