body{    
    padding: 0;
    margin: 0;
}
h3{
    margin: 0;
    padding: 0;
}
.visual-setting{
    margin-bottom: 35px;
}
.visual-title{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 32px;
    margin-left: 53px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}
.visual-values{
    margin-left: 54px;
    margin-right: 32px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;


    letter-spacing: 0.02em;

    color: #FFFFFF;

}
.visual-range-info{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 32px;
    /* identical to box height, or 320% */

    letter-spacing: 0.15em;
    text-transform: uppercase;

    /* Moon */

    color: #484F5B;
}
.container{
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
}
.creator-block{
    float: right;
}
.label-value{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    top: 130px;
    letter-spacing: 0.02em;
    left: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    /* White */

    color: #484F5B;
    transform: rotate(-90deg);
}
.label-value-height{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;

    align-items: center;
    letter-spacing: 0.02em;

    color: #484F5B;
}
.rotate-label-value{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    position: relative;
    top: 5px;
    margin-left: 30px;
    letter-spacing: 0.02em;

    /* White */

    color: #484F5B;
}
.label-for{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 32px;
    margin-right: 30px;
    margin-top: 10px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #484F5B;
}
.height-label{
    -webkit-transform: rotate(-90deg);

    display: inline-block; 
    padding-left: 8px; 
    vertical-align: text-top; 
    text-indent: 0px;
    top: 585px;
    left: -23px;
    position: relative;
}
#rotate-block{
    position: fixed;
    margin-top: 20px;+
}
#range-block{
    position: absolute;
    top: 50px;
    right: 690px;
}
#height-block{
    top: 190px;
    -webkit-transform: rotate(90deg);
    position: absolute;
}
.creator-settings{
    padding-top: 40px;
    overflow-y: scroll;
    height: 715px;
    width: 508px;
    float: right;
    background: #1A1E26;
    margin-top: -1px;
    border: 1px solid #1A1E26;
}
.creator-settings::-webkit-scrollbar { width: 0; }
.echo-tabs>label[for*="1"]:before {
	content: "\f11a" !important;
}
.echo-tabs>label[for*="2"]:before {
	content: "\f1fc" !important;
}
#face-color-control{
    margin-left: 50px;
    margin-top: 32px;
}
#face-color-id{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
}
#face-id{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.02em;

    /* White */

    color: #fff;
    margin-left: 25px;
    margin-right: 25px;
}
.gender-title{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 32px;
    /* identical to box height, or 320% */
    
    letter-spacing: 0.15em;
    text-transform: uppercase;

    margin-left: 52px;
    margin-right: 62px;

    color: #646E7D;
}